@model Article
<div class="text-center">
    <ul>
        <component @Model.Title class="arrow" />
        <component @Model.AuthorFirstName + @Model.AuthorLastName class="arrow" />
        <component @Model.PublicationName class="arrow" />
        <component @Model.PublishDate class="arrow" />
    </ul>
</div>
<h2>Complete!</h2>
<a class="btn btn-primary" asp-controller="My Archive">Archive</a>
<a class="btn btn-primary" asp-controller="Home">Home</a>